<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href= "{{ url_for('static',filename ='dashboard.css') }} " >
    <title> Dashboard </title>
  </head>
  <body>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  

    
      <div class ="header-logo">
         
           <img src="{{ url_for('static',filename ='aiims.png') }}" width="1300px;">
  
      </div>


    <nav class="navbar navbar-light" style="background-color: #FFFCDC">

        <a class="navbar-brand" href="#">
            <img src="{{ url_for('static' , filename ='aiims.png') }}" width='30' height='30' class="d-inline-block align-top" alt="">
             AIIMS 
            </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
               <a class="nav-link" href="{{ url_for('Dashboard') }}">
                  Home 
                 <span class="sr-only">(current)</span>
               </a>

           </li>
             <li class="nav-item">
                <a class="nav-link" href="{{ url_for('Login') }}"> 
                   Logout </a>
             </li> 
            
        
        </div>
     
      </nav>

    <div class="form-header">

        <h2 style="font-size: 35px; font-family: merriweather;"> Welcome,{{ current_user.Username}} You are logged in </h2>

    </div>

      <div class="container">

            <div class="button-create" >
             <button type="submit" onclick="location.href='{{ url_for('Physiotherapy') }}' ">
             create New 
  
             </button>
           </div>
      </div>
<div class = "container">
    <table class="table table-striped table-light">
        <thead>
          <tr>
            <th scope="col"> SNo. </th>
            <th scope="col"> UHID </th>
            <th scope="col"> FIRST NAME</th>
            <th scope="col"> SECOND NAME </th>
            <th scope="col"> FORM </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td> 6734893446</td>
            <td> Aakash</td>
            <td> Sharma</td>
            <td><button type="submit">View</button></td>
            
          </tr>
          <tr>
            <th scope="row">2</th>
            <td> 7621145113 </td>
            <td> Kritika </td>
            <td>Nagar</td>
            <td><button type="submit">View</button></td>
            
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>1652398442</td>
            <td>Lavish</td>
            <td>Anand</td>
            <td><button type="submit">View</button></td>
            
          </tr>
        </tbody>
      </table>
   </div>

   {% with messages = get_flashed_messages(with_categories=true) %}
   {% if messages %}
      {% for category, message in messages %}
         <div class="alert alert-{{ category }}">
             <button type="button" class="m1-2 mb-1 close" data-dismiss="alert" aria-label="Close">
                 <span aria-hidden="true">&times;</span>
             </button>
             {{ message }}
         </div>
      {% endfor %}
   {% endif %}
 {% endwith %}


</body>
</html>
