<!DOCTYPE html>
<html lang="en" >
<head>
<meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="{{ url_for('static', filename ='physio_unedited.css') }} ">
<link rel="stylesheet" href=" {{ url_for('static', filename = 'physio1_unedited.css') }} ">

</head>
<body> 

   <div class="form-header top-header">

    <div class ="image">
       
         <img src="{{ url_for('static',filename ='img/physiotherapy.jpg') }}" width="1300px">

    </div>
         
   </div>

   <nav class="navbar navbar-light" style="background-color:#FFFCDC">
    <a class="navbar-brand" href="#">
        <img src="/home/archana/physio_flask/project/static/img/aiims.png" width="30" height="30" class="d-inline-block align-top" alt="">
        
        </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>

        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('Login')}}">  Logout </a>
        </li>
        
     
    </div>
  </nav>

<div class="pos-f-t">
    <div class="collapse" id="navbarToggleExternalContent">
      <div class="bg-dark p-4">
        <h4 class="text-white">Collapsed content</h4>
        <span class="text-muted">Toggleable via the navbar brand.</span>
      </div>
    </div>
    
  </div>


        
    <div class="form-physio container">
      
        <form>
            <div class="form-row container">

              <div class="form-group col-md-4">

                <label for="UHID">UHID</label>
                <textarea class="form-control" placeholder="UHID" id="UHID" required="required"> </textarea>
              </div>

              <div class="form-group col-md-4">
                <input type="text" class="form-control" placeholder="Date" id="Date">
               <label for="DATE" >DATE</label>
              </div>
            
            </div> 

            <hr>

            <h3>Personal Information</h3>

            <hr>

              
            
                   <div class="form-row container">
                    
                      <div class="form-group col-md-4">
                        <input type="text" class="form-control" placeholder="First name"id="FirstName" required="required">
                          <label >FIRST NAME</label>
                      </div>

                      <div class="form-group col-md-4">
                         <input type="text" class="form-control" placeholder="Last name" id="LastName"required="required">
                            <label>LAST NAME</label>
                      </div>
                   </div>

                    <div class="form-row container">

                       <div class="form-group col-md-4">
                        <input type="Number" class="form-control" placeholder="Age" id="age" required="required">
                         <label for="AGE"> AGE</label> 
                        </div>

                       <div class ="form-group ">
                         <label for="gender" > GENDER</label>
                          <br>
                         <input type="radio" name="gender" value="male"> Male
                         <br>
                         <input type="radio" name="gender" value="female"> Female
                         <br>
                         <input type="radio" name="gender" value="other"> Other
                         <br>
                       </div>

                    </div>

                      <div class="form-row container">

                        <div class="form-group col-md-6">

                          <label for="inputAddress"> ADDRESS </label>
                          <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
                        </div>
                        
                        <div class="form-group col-md-6">
                          <label for="inputAddress2"> ADDRESS</label>
                           <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
                        </div>
                        
                        <div class="form-group col-md-6">
                          <label for="inputCity"> CITY</label>
                          <input type="text" class="form-control" id="inputCity">
                        </div>

                      </div>
                      
                      
                      <div class="form-row container">

                         <div class="form-group col-md-4">
                            <label for="inputState">STATE</label>
                               <select id="inputState" class="form-control">
                                  <option selected> CHOOSE..</option>
                                  <option>...</option>
                               </select>
                          </div>
                          
                          <div class="form-group col-md-4">
                            <label for="inputZip"> ZIP</label>
                             <input type="text" class="form-control" id="inputZip">
                          </div>

                      </div>
                          
                          <br>
                   
              

                <hr>
              
                <h3> Patient's Details</h3>

                <hr>
                
             <div class="form-row container">

                <div class="form-group ">

                  <label for="inputChiefComplaints">CHIEF COMPLAINTS</label>
                  <textarea  class="form-control" id="inputChiefComplaints" rows="4"></textarea>
                </div>
            </div>

               <div class ="form-row container">

                  <div class="form-group ">
                     <label for="inputHistory">HISTORY</label>
                     <textarea class="form-control" id="inputHistory" row="2"></textarea>
                   </div>
              </div>
                

                <!-- <div class="form-group">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="gridCheck">
                    <label class="form-check-label" for="gridCheck">
                      Check me out
                    </label>
                  </div> -->

                  <div class="form-row container">

                     <div class="form-group">
                        <label for="formControlRange">NPRS</label>
                        <input type="range" class="form-control-range" id="formControlRange">
                    
                      </div>

                      <div class="form-row container">

                       
                            <div class="chart">

                               <img Src="/home/archana/Desktop/physio_html_css/Body-chart.png" height="350" width="200"  alt="body Chart" >

                           </div>
                          


                      </div>

                 

                <div class ="form-row container">
                    <div class="form-group ">
                      <label for="inputRedFlags">RED FLAGS </label>
                      <textarea class="form-control" id="inputRedFlags" row="2"></textarea>
                    </div>

                    <div class="form-group ">
                      <label for="inputObservation">OBSERVATION </label>
                      <textarea class="form-control" id="inputObservation" row="2"></textarea>
                    </div>
                 </div>

                    <div class ="form-row container">

                        <div class="form-group ">
                           <label for="inputDiagnosis">DIAGNOSIS</label>
                           <textarea class="form-control" id="inputDiagnosis" row="2"></textarea>
                         </div>

                    </div>

                    <div class ="form-row container">
                        <div class="form-group">
                            <label for="inputTreatment">TREATMENT</label>
                            <textarea class="form-control" id="inputTreatment" row="2"></textarea>
                        </div>
                    </div>

                        <div class ="form-row container">
                            <div class="form-group ">
                                <label for="inputPrecautions">PRECAUTIONS </label>
                                <textarea class="form-control" id="inputPrecautions" row="2"></textarea>
                            </div>
                         </div>


                <!--<div class ="form-row container">
                    
                       <button type="submit" class="btn btn-primary">Submit</button>
                     </div>
                  </div>-->


              <div class="form-row container">
                  <div class="center">
                    
                    <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
              </div>
              
      </div>
        </form>



        

        
     </div>

</div>
        
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>
       




  