<!DOCTYPE html>
<html lang="en" >
<head>

    
<meta charset="UTF-8">
<title> 
LOG IN
</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons'><link rel="stylesheet" href="./style.css">
<link rel="stylesheet" href="{{ url_for('static',filename ='signin1.css') }} ">
<link rel="stylesheet" href="{{ url_for('static',filename ='signin2.css' ) }}">
</head>

{% block content %}
<body>
<!-- partial:index.partial.html -->
<!-- Form-->
<!-- <div class="header">
    <h1 style="color:black;align-content: flex-start;"> ALL INDIA INSTITUTE OF MEDICAL SCIENCES </h1>
</div> -->



<div class="form-header top-header">
    <div class="aiims">
        <img src="/home/archana/physio_flask/project/static/img/aiims.png" alt="aiims" width="100" >
    </div>
    <h1 class="head">ALL INDIA INSTITUTE OF MEDICAL SCIENCES</h1>
</div>

<div class="form">

    {{ LoginForm.hidden_tag() }}

    <div class="form-panel one">

          <div class="logo">

             <img src="/home/archana/physio_flask/project/static/img/icons8-customer-48.png" alt="login">

           </div>

       <div class="form-header">
           <h1>Login</h1>

       </div>


       <div class="form-content">
 
        <form action = '/Dashboard' method ="POST">
            

       <div class="form-group " >
           <!--{{ LoginForm.username }} -->
            <label for="username">Username</label>
               <input type="text" id="username" name="username" required="required"/>
       </div>

       <div class="form-group">
       <!-- {{ LoginForm.password}} -->
          <label for="password">Password</label>
            <input type="password" id="password" name="password" required="required"/>
       </div>
    <!-- <div class="form-group">
       <label class="form-remember">
           <input type="checkbox"/>Remember Me
        </label>
       
        <a class="form-recovery" href="#">Forgot Password?</a>
    </div> --> 


        <div class="form-group">
          <!--  {{LoginForm.login}} -->
            <button type="submit">Log In</button>
        </div>

        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
           {% for category, message in messages %}
              <div class="alert alert-{{ category }}">
                  <button type="button" class="m1-2 mb-1 close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
                  {{ message }}
              </div>
           {% endfor %}
        {% endif %}
      {% endwith %}

    </form>
</div>



<!-- <div class="form-panel two">
<div class="form-header">
<h1>Register Account</h1>
</div>
<div class="form-content">
<form>
<div class="form-group">
<label for="username">Username</label>
<input type="text" id="username" name="username" required="required"/>
</div>
<div class="form-group">
<label for="password">Password</label>
<input type="password" id="password" name="password" required="required"/>
</div>
<div class="form-group">
<label for="cpassword">Confirm Password</label>
<input type="password" id="cpassword" name="cpassword" required="required"/>
</div>
<div class="form-group">
<label for="email">Email Address</label>
<input type="email" id="email" name="email" required="required"/>
</div>
<div class="form-group">
<button type="submit">Register</button>
</div>
</form>
</div>
</div> -->

<!-- partial -->
</div>

<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src='https://codepen.io/andytran/pen/vLmRVp.js'></script><script src="./script.js"></script>
</body>
{% endblock %}

</html>
