html{
    height:100%;
    width:100%;

}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    font-size: 14px;
}


.navbar{
    padding: 0px 4px 2px 21px;
    width:100%;
    position: static;
}

.navbar-brand{
    justify-items: center;
}
.navbar-toggler{
    height: 35px;
    width: 50px;
    text-align: center;
    justify-items: center;
}

.navbar-toggler-icon{
    height:28px;
    color: black;
    justify-content: center;
}

.form-header{
    margin:20px;
    padding: 15px 11px 21px 20px;


}


.header-logo{
    width:100%
}
button{
    outline: none;
background: #4cbfa6;
width: 40%;
border: 0;
border-radius: 4px;
padding: 12px 20px;
color: #FFFFFF;
font-family: inherit;
font-size: inherit;
font-weight: 500;
line-height: inherit;
text-transform: uppercase;
cursor: pointer;
}

.button-create{
    
   margin: 7px 8px 50px 10px; 
    padding: 12px 7px 17px 54px;
    position: relative;
    width:50%;
    text-align: right;
    overflow: hidden;
    float:right;
    
}