html {
    width: 100%;
    height: 100%;
}

    body {
   
    color: rgba(0, 0, 0, 0.521);
    font-family: "cursive";
    font-size: 15px;
    line-height: 1.6em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
    padding: 4px 5px 25px 12px;


}



.form-row{

        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        margin:20px;
        padding: 18px 18px 14px 12px;
}
   

    

.form-group{
    
    display:flex;
    box-sizing: border-box;
    margin:15px;
    padding: 15px 8px;
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;

    
}
.form-header {
    text-align: center;
    
    
}
  
    .head{
        color:rgb(79, 186, 194); 
        text-align: center;
        font-size: 30px;
        font-family: cursive;
    
    }
    
    .top-header{ 
        position:relative;
       

        align-items: center;
        flex-flow: nowrap;
        padding: 1px;
        margin: 1px;
        flex-wrap: nowrap;
        align-content: stretch;
        justify-content: space-evenly;
     
    }
    
    
    .header {
        padding-top: 50px;
        padding-right: 30px;
        padding-bottom: 50px;
        padding-left: 80px;
     
        position: absolute;
        background-color: #DDF;
        height: 100px;
        width:fit-content;
        text-align: center;
        flex-direction: initial;
        padding-top: 40%;
    } 

    @media screen and (max-width: 800px) {
        .form-group,.form-header,.form-row,.header.top-header
    }