form{
    /* margin:0 auto; 
width:1200px ;
padding:20px; */
/* background:rgb(255, 255, 255); */
     background:rgb(255, 255, 255); 
   /* border:1px rgb(211, 206, 206);
    border:2px #999966;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06); */
    display: block;
    padding:20px 10px 0px 61px;
    /*box-sizing: border-box;
    overflow: hidden; */
}
h2{
    text-align: center;
    font-size: 30px;
    font-family:cursive;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    padding: 10px;
}
.form-physio{

    margin:8px;
    width:1500px;
 
   /* background-color: #4cbfa6;
    background-size:cover;
    background-repeat: no-repeat;
    background:rgb(255, 255, 255); */
    /* border:1px rgb(211, 206, 206); 
    border:2px #999966;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06); */
    display: block;
    padding:20px 6px 0px 10px;
    box-sizing: border-box;
    overflow: hidden; 
} 
.form-control{
    box-sizing:border-box;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    border-radius:10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: inherit;
    border:8px;
    margin: 10px;
   
 
}

.navbar{
    margin: 5px;
    padding: 3px;
    
}


#formControlRange{
    width: 708px; 
}
/* .textarea{
    width:250px;
    height:200px;
    padding:10px;
    border-radius:15px;
   
} */


label{

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    font-weight: bold;
    width:120px;
    padding:15px 15px 15px 15px ;
    margin:inherit;

}

text{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    font-weight: bold;

}

.chart{
     margin:0 auto;
    display: flex;
    justify-content: center;
}
#UHID{ 
    width: 200px;
    height:50px;

}

#Date{
    width: 200px;
    height:50px;
}

#FirstName{


    width: 200px;
    height:50px;
}

#LastName{
    width: 200px;
    height:50px;
}

#age{
    width: 200px;
    height:50px;
}
#inputAddress{
    width: 375px;
    height:50px;

}
#inputAddress2{
    width: 375px;
    height:50px;

}

#inputCity{
    width: 250px;
    height:50px;

}

#inputState{
    width: 250px;
    height:50px;

}

#inputZip{
    width: 250px;
    height:50px;

}


#inputChiefComplaints{
    width:700px;
    height:200px;
   /* resize: vertical;
    border-radius:15px; */


} 

#inputHistory{
    width:700px;
    height:200px;

}
#inputRedFlags{
   width: 700px;
    height :200px;
    
    /*margin: 20px;
    
    padding:10px;
    border-radius:15px;
    border:0; */
}
#inputObservation{


    width: 700px;
    height :200px;
    
  /*  margin : 20px;
    padding:10px;
    border-radius:15px;
    border:0;
    */

}
#inputDiagnosis{

    width: 700px;
    height :180px;


  /* margin: 20px;
    padding:10px;
    border-radius:15px;
    border:0;  */
   
   


}

#inputTreatment{


    width: 700px;
    height :200px;

   /* margin:20px;
    padding:10px;
    border-radius:15px;
    border:0; */
    
    

}

#inputPrecautions{
    width: 700px;
    height :200px;
    
    
   /* margin :20px;
    padding:10px;
    border-radius:15px;
    border:0; */
    
    
}
/*
.container{
    display:flex;
    flex-wrap: wrap;
    align-items: flex-start;
} */

label input[type=radio] {
    position: absolute; /* prevent taking any space */
    /* cross-browser hidingg */
    opactiy: 0;
    width:0; 
    height:0;

}
 .btn{

  /*  appearance:none;
    -webkit-appearance:none; */
    /* usual styles */
    background-color:rgb(79, 186, 194); 
    text-align: center;
    justify-content: center;
    display: grid;
   /* font-weight:600; */
    border-radius:10px;
    width:200px;
    height:40px;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  
  }
/* @media screen and (max-width: 800px) {
    .form-physio,.container
    width:100px;
} */

.center{
    margin:0 auto;
   /* margin-left: auto;
    margin-right: auto;
    display:block;*/
}

